.home {
  width: 1120px;
}
.img_home_banner a img {
  margin: 25px 0 80px 0;
}
.img_home_banner .image {
  width: 100%;
}

.f_categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.container_home h2 {
  font-size: 28px;
}
.f_item_arrow {
  display: flex;
  gap: 10px;
}
.f_item_arrow i {
  width: 40px;
  height: 40px;
  background-color: rgb(223, 255, 239);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: rgb(86 193 95);
  cursor: pointer;
}
.f_item_arrow i:hover {
  background-color: rgb(86 193 95);
  color: white;
}

.swiper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.box_swiper {
  width: 165px;
  height: 160px;
  border: none;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(243 244 246);
  border-radius: 10px;
  color: black;
  font-size: 18px;
  transition: all 0.5s;
}

.box_swiper:hover {
  color: var(--main-color);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box_img_categories {
  overflow: hidden; /* Đảm bảo ảnh không bị tràn ra ngoài */
}

.box_img_categories img {
  transition: transform 0.5s ease; /* Hiệu ứng mượt mà khi hover */
}
.box_img_categories img {
  width: 80px;
  height: 60px;
}
/* Khi hover vào .box_swiper, ảnh sẽ nghiêng */
.box_swiper:hover .box_img_categories img {
  transform: rotate(5deg); /* Nghiêng sang phải một chút */
}

.sale_img {
  margin-bottom: 70px;
}
.img_trending {
  display: flex;
  justify-content: space-between;
}
.view_item {
  background-color: rgb(223, 255, 239);
  color: rgb(86 193 95);
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 550;
}
.view_item:hover {
  background-color: rgb(86 193 95);
  color: white;
}

.popular_items {
  display: grid; /* Kích hoạt Grid Layout */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Định nghĩa cột động */
  gap: 20px; /* Khoảng cách giữa các phần tử */
  width: 1120px; /* Đặt chiều rộng tổng */
  margin: 0 auto; /* Canh giữa nếu cần */
}



.box_popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 0 10px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
  background-color: #fff;
  width: 205px;
  height: 335px;
  transition: all 0.5s;
}
.box_popular:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img_home_prd {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease; /* Hiệu ứng phóng to mượt mà */
  object-fit: cover; /* Giữ tỷ lệ ảnh và cắt phần thừa */
}
.box_popular:hover .img_home_prd {
  transform: scale(1.01); /* Phóng to ảnh lên 10% khi hover */
}
.content_popular {
  display: flex;
  padding: 0 6px;
  flex-direction: column;
  align-items: flex-start; /* Căn về phía trên bên trái */
  justify-content: flex-start; /* Căn lên trên */
  height: 100%;
  width: 100%;
}
.content_popular div {
  height: 55px;
}

.content_popular .price {
  font-size: 14px;
  margin-top: 0;
  align-self: flex-start; /* Giữ cho thẻ h3 nằm phía trên bên trái */
}

.number_price {
  color: var(--main-color);
}
.del_price {
  text-decoration: line-through;
  font-size: 17px;
  color: rgb(183, 183, 183);
}
.item_img {
  margin-bottom: 10px;
  position: relative;
  display: inline-block; /* Giữ kích thước của ảnh */
}

.img_home_prd {
  width: 190px;
  height: 200px;
  
}

.heart-button,
.bag-button {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8); /* Màu nền nhạt cho nút */
  border: none;
  padding: 8px;
  border-radius: 50%; /* Nút tròn */
  cursor: pointer;
  font-size: 16px; /* Điều chỉnh kích thước icon */
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-button {
  top: 5px;
  right: 10px;
  color: red;
}

.bag-button {
  display: flex;
  width: 75px;
  bottom: 13px;
  right: 10px;
  color: white;
  justify-content: space-around;
  border-radius: 20px;
  background-color: var(--main-color);
}

.h2r {
  margin-bottom: 65px;
  width: 100%;
}

.flex_end {
  display: flex;
  width: 240px;
  gap: 10px;
  margin-bottom: 40px;
}
.item_img_pro {
  width: 25px;
  height: 25px;
}
.font_h5 {
  font-size: 17px;
  margin-bottom: 10px;
}
