*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Saira Semi Condensed", sans-serif;
    background-color: var(--color-background);
}

:root{
    --primary-color: #119744;
    --color-star: #ffab10;
    --color-orange: #e86121 ;   
    --color-ccc: #f5f5f5;
    --color-title :#565765;
    --color-cccc: #e8e8e8;
    --color-love: #cccccc;
    --color-background: #f5f6f7;
    --color-banner: #e6f4e1;
    --font-arial : Arial, sans-serif;
    --color-facebook: #3b5998;
    --color-twitter: #00abed;
    --color-google: #e60023;
    --color-instagram: #f77737;
    --font-family-login: "Roboto", sans-serif;
}



.user_form .user_logo{
    text-align: center;
    margin: 25px 0;
}

.user_form .user_logo img{
    height: 52px;
}

.user_form .user_card {
    background-color: white;
    width: 1076px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    border-radius: 8px;
}

.user_card .user_form_title{
    text-align: center;
    padding: 0 0 30px 0;
}

.user_card .user_form_title h2 {
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 30px;
}

.user_form_group {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.user_form_group .user_form_social{
    list-style: none;
}

.user_form_group .user_form_social li {
    border-radius: 10px;
}

.user_form_social a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 130px;
    border-radius: 10px;
}

.user_form_social .facebook {
    background-color: var(--color-facebook);
}
.user_form_social .twitter {
    background-color: var(--color-twitter);
    margin-top: 20px;
}
.user_form_social .google {
    background-color: var(--color-google);
    margin-top: 20px;
}
.user_form_social .instagram {
    background-color: var(--color-instagram);
    margin-top: 20px;
}


.user_form .input {
    height: 45px;
    width: 475px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: var(--color-ccc);
    outline: none;
}

.user_form .input:focus-within{
    outline: 1px solid var(--primary-color);
}

.user_form .check {
    margin-top: 20px;
}

.user_form .sub_input {
    margin-top: 20px;
}

.user_form .btn_submit {
    font-family: var(--font-family-login);
    height: 45px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 550;
    cursor: pointer;
    width: 475px;
}

.user_form p {
    margin-top: 20px;
    text-align: center;
}

.user_form p a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 550;
}

.user_form p a:hover {
    text-decoration: underline;
}

.user_form .form_check {
    display: flex;
}

.user_form_remind {
    border-radius: 8px;
    background-color: white;
    background-color: white;
    width: 1076px;
    margin-right: auto;
    margin-left: auto;
}

.form_check_accept {
    margin-top: 20px;
}

.form_check_accept label a {
    text-decoration: none;
    color: blue;
}

.form_check_accept label a:hover  {
    color: rgb(2, 2, 189);
}

.user_form_remind p {
    padding: 17px;
}

/* ============================== FOTTER ============================== */

.footer span {
    color: var(--primary-color);
}

.footer {
    margin-top: 20px;
    text-align: center;
}


/* ============================== REGISTER ============================== */


.user_form .reset_pass, .reset_remind {
    width: 525px;
}

.user_form ul{
    list-style: none;
}

.user_form ul li{
    color: red;
}

.user_form_success p{
    color: var(--primary-color);
    display: inline;
    font-weight: 550;
}