.container {
    width: 1120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.profile .row {
    display: flex;
    justify-content: space-between;
}

.profile  .information {
    display: block;
    margin-top: 20px;
}
.profile_right {
    height: 435px;
    width: 286px;
    box-shadow: 0px 6px 44px -3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile_right .image {
    width: 94px;
    height: 94px;
    border-radius: 999px;
    border: 1px solid black;
    padding: 2px;
}

.profile .list_nav {
    display: block;
    margin-top: 20px;
}

.profile .list_nav .active {
    background-color: #f2fcf7;
    color: var(--main-color);
}

.profile .list_nav .active i {
    color: var(--main-color);
}

.profile .list_nav i:hover {
    color: var(--main-color);
}

.profile .list_nav a:hover i {
    color: var(--main-color);
    transition: all 0.5s;
}

.profile .list_nav a:hover {
    color: var(--main-color);
    background-color: #f2fcf7;
    transition: all 0.5s;
}

.profile .list_nav i {
    margin-left: 20px;
    color: #a0a3bd;
    width: 30px;
}

.profile .list_nav a {
    display: block;
    padding: 5px 0;
    color: #1f1f39;
    font-size: 17px;
}

.active {
    color: var(--main-color);
}

.profile .list_nav span {
}

/* =========== dashboard =========== */

.dashboard {
    width: 800px;
}

.dashboard > p {
    margin: 7px 0 20px;
}

.profile .dashboard .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.profile .dashboard .grid .ifm {
    box-shadow: 0px 6px 44px -3px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
}

.profile .sub_ifm i {
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.profile .sub_ifm h3 {
    margin-top: 20px;
}

.green_blue {
    color: #1cd7cb;
}

.green {
    color: #01b359;
}

.violet {
    color: #9152db;
}

.blue {
    color: #0072f4;
}

.total_order {
    background-color: #1cd7cb;
}

.total_complete {
    background-color: #01b359;
}

.total_refund {
    background-color: #9152db;
}

.wallet_balance {
    background-color: #0072f4;
}

.dashboard > .title {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.box_shadow {
    background-color: #f2fcf7;
    padding: 10px;
    border-radius: 100px;
}

.box_shadow:hover {
    background-color: var(--main-color);
    color: var(--white);
    transition: all 0.5s;
}

.title_h5 {
    font-size: 20px;
    font-weight: 550;
}

.profile .history {
    box-shadow: 0px 6px 44px -3px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #f1f1f1;
}

.pending {
    color: #f9ba09;
}

.confirmed {
    color: #7e6de9;
}

.ongoing {
    color: #007fe3;
}

.unpaid {
    color: #fb4e4c;
    background-color: #ffe8e8;
    border-radius: 100px;
    padding: 2px 9px;
    font-size: 13px;
}

.paid {
    color: #2ac769;
    background-color: #e2ffee;
    border-radius: 100px;
    padding: 2px 9px;
    font-size: 13px;
}

tbody .action i{
    padding: 8px;
    background-color: #01b359;
    color: white;
    border: none;
    border-radius: 5px;
}

tbody .action {
    border: none;
}


tbody .action:hover {
    cursor: pointer;
}

/*=================== Account =================== */



.dashboard .form {
    box-shadow: 0px 6px 44px -3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.dashboard .list_input {
    margin-top: 20px;
}

.dashboard .list_input .sub_input label {
    display: block;
}

.dashboard .list_input .sub_input label::after{
    content: '*';
    color: red;
}

.dashboard .list_input .sub_input input {
    padding: 10px;
    font-family: "Saira Semi Condensed", sans-serif;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    width: 362px;
}

.dashboard .form button {
    padding: 15px 20px;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    color: var(--white);
    margin-top: 20px;
}

.dashboard .form button:hover {
    cursor: pointer;
}