* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-container {
    display: flex;
    width: 800px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
   
}

.login-left {
    flex: 1;
    background-image: url('https://inilabs-ebazaar.netlify.app/images/banners/auth.jpg');
    background-size: cover;
    background-position: center;
}

.login-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-right h2 {
    color: #28a745;
    font-size: 24px;
    margin-bottom: 5px;
}

.login-right p {
    color: #777;
    margin-bottom: 20px;
}

form label {
    color: #333;
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.country-code {
    position: absolute;
    left: 10px;
    font-size: 18px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 10px 10px 40px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.use-email {
    margin-left: auto;
    font-size: 12px;
    color: #28a745;
    text-decoration: none;
}

.use-email:hover {
    text-decoration: underline;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.options a {
    font-size: 12px;
    color: #28a745;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

.sign-in-btn {
    width: 100%;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.sign-in-btn:hover {
    background-color: #218838;
}

.sign-up-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.sign-up-text a {
    color: #28a745;
    text-decoration: none;
}

.sign-up-text a:hover {
    text-decoration: underline;
}
